body {
    background-image: url(../görseller/background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid;
}


.head {
    color: #C8AA6E;
    font-size: 2rem;
}

.links {
    display: flex;
    gap: 2rem;
}

.links a {
    text-decoration: none;
    color: #C8AA6E;
    font-weight: 800;
    transition: color 0.3s, text-shadow 0.3s;
}

.links a:hover {
    color: #8C6A2E;
    text-shadow: 0 0 10px #8C6A2E, 0 0 20px #8C6A2E;
}

.rünler {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.block {
    text-align: center;
}

.main-img {
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.thumbs {
    display: none;
    margin-top: 20px;

}

.thumbs label img {
    width: 50px;
    margin: 0 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.thumbs label img:hover {
    transform: scale(1.1);
}

.desc {
    color: white;
    display: none;
    margin-top: 10px;
    font-size: 18px;
    padding: 10px;

    border-radius: 8px;
    max-width: 350px;
    margin-inline: auto;
}

#toggle-1:checked+label+.thumbs-1 {
    display: block;
}

#show1-1:checked~label[for="show1-1"]~label[for="show2-1"]~label[for="show3-1"]~#desc1-1,
#show2-1:checked~label[for="show2-1"]~label[for="show3-1"]~label[for="show4-1"]~#desc2-1,
#show3-1:checked~label[for="show3-1"]~label[for="show4-1"]~#desc3-1,
#show4-1:checked~label[for="show4-1"]~#desc4-1 {
    display: block;
}

#toggle-2:checked+label+.thumbs-2 {
    display: block;
}

#show1-2:checked~label[for="show1-2"]~label[for="show2-2"]~label[for="show3-2"]~#desc1-2,
#show2-2:checked~label[for="show2-2"]~label[for="show3-2"]~#desc2-2,
#show3-2:checked~label[for="show3-2"]~#desc3-2 {
    display: block;
}

#toggle-3:checked+label+.thumbs-3 {
    display: block;
}

#show1-3:checked~label[for="show1-3"]~label[for="show2-3"]~label[for="show3-3"]~#desc1-3,
#show2-3:checked~label[for="show2-3"]~label[for="show3-3"]~#desc2-3,
#show3-3:checked~label[for="show3-3"]~#desc3-3 {
    display: block;
}

#toggle-4:checked+label+.thumbs-4 {
    display: block;
}

#show1-4:checked~label[for="show1-4"]~label[for="show2-4"]~label[for="show3-4"]~#desc1-4,
#show2-4:checked~label[for="show2-4"]~label[for="show3-4"]~#desc2-4,
#show3-4:checked~label[for="show3-4"]~#desc3-4 {
    display: block;
}