body {
    background-image: url(görseller/indexbackground.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    background-color: black;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid;
}

.head {
    color: #C8AA6E;
    font-size: 2rem;
}

.links {
    display: flex;
    gap: 2rem;
}

.links a {
    text-decoration: none;
    color: #C8AA6E;
    font-weight: 800;
    transition: color 0.3s, text-shadow 0.3s;
}

.links a:hover {
    color: #8C6A2E;
    text-shadow: 0 0 10px #8C6A2E, 0 0 20px #8C6A2E;
}

h2 {
    text-align: center;
    color: white;
}

p {
    color: white;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}